       #map {
        height: 850px;
        /*width: 100%;*/
        /*float:right;*/
        /*margin-top:3%;
        margin-right:3%;*/
       /* overflow:hidden;*/

      }

      #content {
        
        /*float:left;*/
       /* margin-top:3%;
        margin-left:2%;*/
        /*background:red;*/
        overflow:auto;
      
      }
 
      .title {
        font-family: 'Sansita Swashed', cursive;
        font-size:130%;
      }

      html, body {
        /*height: 100%;*/
        margin: 15px;
        padding: 15px;
        font-family: 'ABeeZee', sans-serif;
        font-size:110%;
        /*overflow:auto;*/
      }


      h1 img {
        padding-left:15px;
        margin-top:-7px;
      }
